.body {
    width: 55%;
    height: 100vh;
    text-align: center;
    align-content: start;
    margin: auto;
    padding-top: 25vh;
}

.unicon-image {
    width: 70%;
}

.mission {
    font-size: 1.5rem;
    margin-top: 20px;
}

.info {
    font-size: 1.2rem;
    margin-top: 20px;
    font-style: italic;
}

.p-register {
    color: rgb(156, 83, 196);
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .body {
        width: 75%;

    }


    .unicon-image {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .body {
        width: 95%;

    }

    .mission {
        font-size: 1.2rem;
        width: 80%;
        margin: auto;
        align-items: center;
        display: flex;
        padding-top: 20px;
    }

    .info {
        font-size: 0.9rem;
        
    }

    .unicon-image {
        width: 100%;
    }
}