.cursor-aura {

    border-radius: 50%;
    background: radial-gradient(circle, rgba(91, 38, 147, 0.269) 0%, rgba(221, 0, 255, 0.011) 100%); /* Gradiente radial del centro al exterior */
    box-shadow: 0 0 100px rgba(91, 38, 147, 0.131); /* Sombra del centro */
    transition: all 0.08s ease-out; /* Transición suave */
}