.buttonContainer {
    position: relative;
}

.activeIndicator {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: purple;
}


@media (max-width: 768px) {
    .textButton {
        font-size: 2rem;
        font-weight: bold;
    }
}