.countDown {
    display: inline-flex;
    justify-content: center;
    gap: 1px;
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.countDownItemColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;


}

.countDownItemRow {
    justify-content: center;
    align-items: center;
}

.countDownTimeDays {
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.countDownTimeHours {
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 5px;
    transform: translateY(-15px);
}

.countDownTimeMins {
    font-size: 2.4rem;
    transform: translateY(-9px);
    margin-top: 5px;
    margin-bottom: 5px;

}

.countDownTimeSec {
    font-size: 2.4rem;
    transform: translateY(-7px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.countDownLabel {
    margin: 1px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {

    .countDownItemColumn {

        margin-right: 5px;
    }

    .countDownItemRowSec {
        display: none;
    }


}

@keyframes numberChange {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-number-change {
    animation: numberChange 0.3s
}


@keyframes scaleAnimation {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-number-scale {
    animation: scaleAnimation 1s ease-in-out;
}

@keyframes slideAnimation {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-number-slide {
    animation: slideAnimation 0.3s ease-in-out;
}