.countDown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.countDownTime {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.countDownLabel {
    margin-top: 1px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .countDown {
        font-size: 1rem;
        margin: auto;
    }
    
    .countDownTime {
        font-size: 2rem;
    }
}