.container-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    perspective: 1000px; /* Añade perspectiva para el efecto 3D */
}

.red-container {
    background-color: red;
    padding: 16px;
    border-radius: 4px;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
    transition: transform 0.1s ease; /* Suaviza la transformación */
    transform-style: preserve-3d; /* Mantiene el efecto 3D */
}