.appBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.buttonsContainer {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.hamburger {
    display: none;
}


@media (max-width: 768px) {
    .buttonsContainer {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}
